#background 
{
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    opacity: .6;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(15px);
}

#container 
{
    position: relative;
    z-index: 1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

#logo 
{
    width: 480px;
    height: 171px;
}

*
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

form 
{
    background-color: #000000;
    color: whitesmoke;
    border-radius: 8px;
    height: 400px;
    padding-left: 10px;
    padding-right: 10px;
}

#form 
{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.lbl 
{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: baseline;
	align-content: stretch;
}

input 
{
    width: 300px;
    height: 25px;
    border-radius: 8px;
}

label,input 
{
    margin-left: .5rem;
    margin-top: 0.5rem;
}

button:hover 
{
    background-color: #0078a7;
}

button
{
    background-color: #005e83;
    border: 1px solid #005e83;
    cursor: pointer;
    color: #FFF !important;
    margin: 5px;
    line-height: 1.4em;
    display: inline-block;
    font-size: .9em;
    padding: 6px 15px;
    border-radius: 5px;
}

#header 
{
    width: 100%;
    height: 100%;
}

a 
{
    text-decoration: none;
    color: white;
}