* 
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html 
{
    background-color: #ecf0f5;
    display: block;
    height: 43px;
    margin: 0 auto;
    width: 284px;
}

body 
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

p 
{
    line-height: 1.75rem;
    margin-top: 0.75rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

#formulaire
{
    background-color: white;
    border: 1px solid gray;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
    width: 392px;
    height: 280px;
    margin-left: -3rem;
}

#continuer 
{
    background-color: #175DDC;
    border-radius: 4px;
    width: 348px;
    height: 33.5px;
    color: white;
    margin-left: 1rem;
    margin-top: 1.5rem;
    font-weight:bold;

}

label
{
    padding-left: 10px;
    margin-top: 1em;
}

input 
{
    width: 348px;
    height: 33.5px;
    margin-left: 10px;
    border-radius: 4px;
}


#remember 
{
    width: 15px;
    height: 15px;
    accent-color: #175DDC;
    border-radius: 16px;
}

#main-page 
{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

#creation 
{
    font-size: 12px;
}

a
{
    color: #175DDC;
    text-decoration: none;
    font-size: 12px;
}

#box 
{
    display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}

#links 
{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
    margin-top: 3rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-left: 1rem;
    color: gray;
}

#checked 
{
    margin-top: 2rem;
}

p 
{
    margin: 0px;
}


#copyright 
{
    font-size: 10px;
    text-align: center;
}

#continuer a
{
    color: white;
}