*
{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#bg_image 
{
    position: relative;
}


#main_page 
{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
}


#formulaire
{
    width: 350px;
    max-width: 100%;
    margin: auto;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

h2 
{
    color : #4494F1;
    font-size: 1.25rem;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input 
{
    display:block;
    box-shadow: 0 0 0 1px #acbbd7;
    margin-bottom: .5rem;
    border-radius: .2rem;
    width: 350px;
    height: 51.2px;
    color: #445473;
    outline: 0;
}

#remember 
{
    width: 15px;
    height: 15px;
   accent-color: #4494F1;
   border-radius: 16px;
}

#box 
{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: baseline;
	align-content: stretch;
}


#lucca_logo
{
    max-width: 100%;
    max-height: 60px;
    margin-right: 200px;
    margin-bottom: 20px;
}


#login 
{
    background-color: #4494F1;
    color:#fafafa;
    border-radius: 16px;
    padding: .5rem 1.5rem;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

#login:hover
{
    background-color:  #4494F1;
}

p
{
    text-align: center;
    color: #becbe4;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#entreprise
{
    background-color: #fafafa;
    box-shadow: 0 2px 8px rgba(0,0,0,.04),0 1px 2px rgba(0,0,0,.06);
    margin-bottom: 1rem;
    padding-top: .65rem;
    padding-bottom: .65rem;
    white-space: normal;
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 4px;
    border: 1px solid black;
    font-size: 18px;
}

#entreprise:hover 
{
    background-color: #becbe4;
}

#links 
{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}
a 
{
    color: white;
    font-size: 12px;
    text-decoration: none;
}

#trois_quart_photo 
{
    background-image: url("image.png");
}