html 
{
    width: 100%;
    height: 100%;
}

body 
{
    background-image: url("background.jpeg");
    object-fit: cover;
    width: 100%;
    height: 100%;

}

form 
{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
    background-color: #171717;
    color:#bfbfbf;
    padding: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    margin: 0;
    border-radius: 22px;
    box-shadow: 5px 5px 5px 5px #171717;
}

#formulaire 
{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

input, label
{
    display:block;
    margin: 0;
    text-align: left;
    width: 325px;

}

button 
{
    background-color: #0E3361;
    color:white;
    border-radius: 22px;
    border-color : #0E3361;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
    font-weight: bold;
    font-size: 15px;
    width: 325px;
    height: 50px;
    margin-top: 1em;
    margin-left: 1em;
}

input 
{
    background-color: #171717;
    padding: 0 12px;
    height: 36px;
    border-radius: 15px;
    border: 1px solid #bfbfbf;
    outline: none;
    color:white;
}



p 
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

h2,h3 
{
    margin-left: 1em;
}

a 
{
    text-decoration: none;
    color: #bfbfbf;
}

img 
{
    width: 400px;
}

