* 
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body 
{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
    width: 100%;
    margin: 0;
}

#options 
{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}

#options a 
{
    text-decoration: none;
    color:black;
}

#umbrella 
{
    background-image: url('une-umbrella-sky-project.jpg');
    background-repeat: no-repeat;
    height:300px;
    background-size: 100%;
    margin: 0;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-end;
	align-content: stretch;
}

#umbrella img 
{
    margin-left: 10px;
    margin-bottom: 10px;
    border: 3px solid white;
    border-radius: 8px;
}

#umbrella p 
{
    color: white;
    font-size: 35px;
    margin-left: 10px;
}

#informations 
{
    background-color: #00AFEC;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
    height:100px;
}

#gauche, #droite 
{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}


#rechercher, #organigramme 
{
    width: 280px;
    height: 55px;
    margin-right: 10px;
}

#rechercher  
{
    font-size: 20px;
}

#organigramme 
{
    font-weight:bold;
    width:200px;
}

#gauche img 
{
    width: 147px;
    height: 48px;
    margin-left: 10px;
}

#gauche p 
{
    color: white;
    margin-left: 30px;
    font-size: 25px;
    margin-bottom: 15%;
}

#main_page 
{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

#infos_left, #infos_right 
{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

#infos_left 
{
    border: 1px solid #E7EDF8;
    width: 500px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 8px;
    padding-left: 20px;
    padding-bottom: 50px;
}

hr 
{
    color: #E7EDF8;
    width: 85%;
}

h5 
{
    font-size: 20px;
}

h3 
{
    font-size: 30px;
}

i 
{
    color: gray;
}

#anniversaires
{
    padding-top: 10px;
    text-decoration: underline;
}


#infos_right 
{
    border: 1px solid #E7EDF8;
    width: 70%;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 8px;
    padding-left: 20px;
    height: 20%;
}

#absences 
{
    color: #7255D1;
}

#dispo 
{
    color: gray;
    font-size: 15px;
    margin-top: 0;
}

#right 
{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}

#left 
{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
}

#left a 
{
    margin-left:10%;
    font-weight:bold;
}